<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
  crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #7dc8c9;color:#eb1010" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="cursor: not-allowed;">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" class="glyphicon glyphicon-home" style="color: #eb1010;" href="#" >
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </ul>
        
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" style="color: #eb1010;" [class.disabled]="loginStatus" routerLink="login" >login </a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" style="color: #eb1010;" [class.disabled]="loginStatus" routerLink="register" > Register </a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" style="color: #eb1010;" routerLink="showemp">ShowEmployee</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" style="color: #eb1010;" routerLink="products">Products</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" style="color: #eb1010;" routerLink="getempbyid">getempbyid&nbsp; </a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
        <li class="nav-item">
          <a class="nav-link" class="glyphicon glyphicon-shopping-cart" style="color: #eb1010;" routerLink="cart"><span class="badge badge-light">{{cartItems.length}}</span></a>
        </ul>
        
      </div>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" class="glyphicon glyphicon-off" style="color: #eb1010;" [class.disabled]="!loginStatus" routerLink="logout"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
